<!DOCTYPE html>
<html lang="en">
<head>
    <!-- <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <title>
        <%=title %>

    </title>
    <link rel="stylesheet" type="text/css" href="/css/home.css">
    <link rel="stylesheet" type="text/css" href="/css/stylehome.css">

</head>
<body>

<div class="header">
    <h4>Connecti</h4>
    <% if(locals.user){%>
        <a href="users/profile/<%= user.id%>">Profile</a>
        <a href="users/sign-out">Sign Out</a>
        <% } %>

        <% if(!locals.user){%>
            <a href="users/sign-in"><button>Sign In</button></a>
            <a href="users/sign-up"><button>Sign Up</button></a>
            <% } %>
</div>
    <section id="all-three-sections">
        <section id="main-section">
            <h1>HomePage</h1>
            <% if(locals.user){%>
                <h2>Posts</h2>
                <form action="/posts/create-post" id="postForm" method="POST">
                    <textarea name="content" cols="30" rows="4" placeholder="Type here...." required></textarea>
                    <button>Post it</button>
                </form>
                
                
                
                <% } %>
                    <%-include('_post')-%>
        </section>
        <section id="friends-right">
                    <% if(locals.user){%>
                        
                            
                                <h2>Friends</h2>
                                <%for (u of all_users){%>
                                    <a href="/users/profile/<%= u.id%>">
                                       <p> <%= u.name %> </p> 
                                    </a>
                            <% } %>
                         
                    <% } %>  
        </section>            
    </section>

    
    <script src="/js/home.js"></script>
</body>
</html>