<!DOCTYPE html>
<html lang="en">
<head>
    <!-- <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <title>
        <%=title %>

    </title>
    

    <link rel="stylesheet" type="text/css" href="/css/home.css">
    <link rel="stylesheet" type="text/css" href="/css/stylehome.css">
    <!-- using noty js -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
    <!-- Using for ajax -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

</head>
<body>

<div class="header">
    <h4>Connecti</h4>
    <% if(locals.user){%>
        <a href="users/profile/<%= user.id%>">Profile</a>
        <a href="users/sign-out">Sign Out</a>
    <% } else{%>
        <a href="users/sign-in"><button>Sign In</button></a>
        <a href="users/sign-up"><button>Sign Up</button></a>
    <% } %>
</div>
    
    <section id="all-three-sections">
        <section id="main-section">
            <h1>HomePage</h1>
            <% if(locals.user){%>
                <h2>Posts</h2>
                <form action="/posts/create-post" id="postForm" method="POST">
                    <textarea name="content" cols="30" rows="4" placeholder="Type here...." required></textarea>
                    <button>Post it</button>
                </form>
            <% } %>
                <div id="posts-list-container">
                
                    <% for(post of posts){ %>
                        <%-include('_post')-%>
                    <% } %>
                </div>
        </section>
        
                    <% if(locals.user){%>
                        <section id="friends-right">
                            
                                <h2>Friends</h2>
                                <%for (u of all_users){%>
                                <div>
                                    <a href="/users/profile/<%= u.id%>"><%= u.name %></a>
                                </div>
                                
                                       
                            <% } %>
                         </section>
                    <% } %>  
                    
    </section>



    <!-- noty js  -->
    
    
    
    <script src="/js/home.js"></script>
    <script>

        <% if(flash.success && flash.success.length > 0) { %>
            new Noty({
                theme:'relax',
                type: 'success',
                layout: 'topRight',
                text:'<%= flash.success %>',
                timeout:2000
            }).show();
        <% } %>
        <%if(flash.error && flash.error.length > 0) { %>
        new Noty({
            theme:'relax',
            type: 'error',
            layout: 'topright',
            text :'<%= flash.error %>' ,
            timeout:2000
            }).show();
        <% } %>

    </script>
    <script src="/js/home_posts.js"></script>
</body>
</html>